.productCard {
    padding: 16px 8px;
}

.productCard figure {
    width:100%;
    overflow: hidden;
    position: relative;
    display: flex;
    margin: 0;
}
.productCard figure > .image {
    width: 100%;
    height: 100%;
}
.productCard figure > .badge {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 32px;
}
.productTitle {
    display: block;
    font-weight: normal;
    font-size: 0.875rem;
    min-height: 40px;
    margin-top: 8px;
}
a:hover .productTitle {
    text-decoration: underline;
} 
.price {
    display: block;
    font-size: 0.875rem;
}
.price .originalPrice {
    display: inline-block;
    margin-right: 8px;
    font-size: 0.75rem;
}
.price .currentPrice {
    display: inline-block;
    font-weight: bold;
}